<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam rerum explicabo aliquid, voluptas voluptatibus laudantium ea velit ducimus cumque, ipsum aut ullam sequi. Rem aperiam accusamus modi molestias molestiae consectetur?
    Quae fuga inventore minima quos laudantium corporis esse aliquid accusamus impedit aut, reprehenderit ipsum, minus quaerat facilis dicta quidem, id necessitatibus eum.
  </p>
</section>
