<h1 class="text-3xl">Contacto</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam rerum explicabo aliquid, voluptas voluptatibus laudantium ea velit ducimus cumque, ipsum aut ullam sequi. Rem aperiam accusamus modi molestias molestiae consectetur?
    Non quod expedita architecto voluptatem eligendi! Dignissimos, perspiciatis minus, exercitationem quo aut blanditiis vel voluptatem earum ex quidem alias tempore, laudantium qui!
    Expedita, non quam. Hic excepturi accusantium illum natus doloribus, suscipit dolorum aspernatur, ut facilis repellendus reiciendis corrupti corporis. Quo amet voluptate blanditiis!
  </p>
</section>
